body {
    width: 960px;
    max-width: 100%;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    size: 1em;
    line-height: 2em;
    background-color: #ededed ;
}

.main-nav {
    list-style: none;     /* removes bullets */
    margin: 0;
    padding: 0;
}

/* Style links */
.main-nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 0;
}

/* Active state */
.main-nav a.active {
    color: #222E50;
    font-weight: bold;
}
