body {
    width: 960px;
    max-width: 100%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

.main-nav {
    list-style: none;     /* removes bullets */
    margin: 0;
    padding: 0;
}

/* Style links */
.main-nav a {
    text-decoration: underline;
    color: #B3679B;
    padding: 5px 0;
}

/* Active state */
.main-nav a:hover {
    color: #222E50;
    font-weight: bold;
}

/*--selected page--*/
.main-nav a.active {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

h2 {
    background-color: #EFEFEF;
    color: #B3679B;
    border: 1px solid #222E50;
    border-radius: 8px;
    padding: 8px 0 8px 10px;
}

a {
    color: #B3679B;
}

/*-- Our features, Index ---*/

.features-container {
    display: grid;
    grid-template-columns: 33%;
    justify-content: start;
    gap: 15px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #222E50;
    border-radius: 16px;
    padding: 15px;

}

.feature img {
    width: 100%;
}

.feature h3,
.feature p {
    margin: 10px;
}

.feature-title {
    font-weight: bold;
}
/*--- end our features, index ---*/





