body {
    width: 960px;
    max-width: 100%;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

.main-nav {
    list-style: none;     /* removes bullets */
    margin: 0;
    padding: 0;
}

/* Style links */
.main-nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 0;
}

/* Active state */
.main-nav a.active {
    color: #222E50;
    font-weight: bold;
}

h2 {
    background-color: #EFEFEF;
    color: #B3679B;
    border: 2px solid #222E50;
    border-radius: 8px;
    padding: 8px 0 8px 10px;
}

a {
    color: #B3679B;
}

.features-container table {
    width: 100%;
    border-collapse: collapse;
}
.features-container tr td:first-child {
    background-color: #f2f2f2;
}

.features-container tr td:last-child {
    border: 2px solid #222E50
    border-radius: 12px;
}

.feature-title {
    font-weight: bold;
}



